*,
::before,
::after{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

:root{

    /* --- 1 rem to 16 px by default but we changed 1rem to 1 px  ---*/
    font-size: 1px;

    /* ----  Change with your own colors & Fonts ---- */
    --primaryColor: #ffffff;
    --secondColor: #000000;

    --primaryFont: -apple-system, Poppins, sans-serif;
    --secondaryFont: Poppins, sans-serif;

}

h1 { font-size: 50rem; }
h2 { font-size: 40rem; }
h3 { font-size: 30rem; }
h4 { font-size: 25rem; }
h5 { font-size: 20rem; }
h6 { font-size: 15rem; }

li { list-style-type: none; }

img { width: 100%; }

body{
    font-size: 15rem;
    font-family: var(--primaryFont);
}

html{
    scroll-behavior: smooth;
}

.container{
    max-width: 1920rem;
    margin: 0 auto;
}

.innerPadding{
    padding: 50rem 30rem;
}

.section{

}

button{
    outline: none;
    display: inline-block;
    border: 2px solid transparent;
    padding: 5rem 10rem;
    border-radius: 5rem;
    cursor: pointer;
}

.btn{
    color: var(--secondColor);
    background-color: var(--primaryColor);
    padding: 15rem 30rem;
    border-radius: 5rem;
    display: inline-block;
    border: 2px solid var(--secondColor);
    text-decoration: none;
    transition: all 0.2s
}

.btn:hover{
    background-color: var(--secondColor);
    color: var(--primaryColor);
    border: 2px solid var(--secondColor);
}
