@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;600;700;800&family=Ubuntu:wght@500;700&display=swap');

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

:root{

    /* --- 1 rem to 16 px by default but we changed 1rem to 1 px  ---*/
    font-size: 1px;

    --primaryColor: #2a1f57;
    --secondColor: #352f5b;
    --altColor: #564c96;

    --linkColor: blue;
    --linkHoverColor: #b7ff4d;

    --primaryFont: -apple-system, Poppins, sans-serif;
    --secondFont: -apple-system, Poppins, sans-serif;
    --altFont: -apple-system, Poppins, sans-serif;


}

a:link, a:visited, a:active{
    text-decoration: none;
    color: blue;
    transition: all 0.2s
}

h1 { font-size: 50rem; }
h2 { font-size: 40rem; }
h3 { font-size: 30rem; }
h4 { font-size: 25rem; }
h5 { font-size: 20rem; }
h6 { font-size: 15rem; }

li { list-style-type: none; }

img { width: 100%; }

body{
    font-size: 15rem;
    font-family: var(--primaryFont);
}

